*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.page{
    display: grid;
    grid-template-columns:  repeat(12 ,1fr);
    grid-template-rows: repeat(12, auto);
    grid-template-areas: 
    'nav nav nav nav nav nav nav nav nav nav nav nav '
    'nav nav nav nav nav nav nav nav nav nav nav nav '
    'main main main main main main main main main main main main  '
    'main main main main main main main main main main main main  '
    'main main main main main main main main main main main main  '
    'main main main main main main main main main main main main  '
    'main main main main main main main main main main main main  '
    'main main main main main main main main main main main main  '
    'main main main main main main main main main main main main  '
    'main main main main main main main main main main main main  '
    'footer footer footer footer footer footer footer footer footer footer footer footer'
    'footer footer footer footer footer footer footer footer footer footer footer footer' ;
    /* height: 100vh; */
    /* background-color: #ffff99; */
}
    /* ==> nave style <==*/
nav{
    border-bottom: 3px solid ;
    border-image-source: linear-gradient(to left,#996633,#ffff99);
    border-image-slice: 10%;
    max-height: 100px;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    background-image: url(images/cupofcoffee.png) ,url(images/coffeebean.png),linear-gradient(to right bottom,#663300,#996633, #ff6600,#ffcc66 ,#ffffcc,#ffcc66,#ff6600,#996633,#663300);
    background-position: center center,center center, center center;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size: 60% 125%,90% 90%,100% 100%;
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 20;
}
.logo{
    border: 3px solid transparent;
    border-radius: 50%;
    width: 100px ;
    height: 100px;
    background-image: radial-gradient(circle,#ffff99 ,#ff9966),linear-gradient(to left top, #ffcc00, #ffff99 ,#ffcc00 ) ;
    background-clip: padding-box, border-box;
    position: relative;
}
.img{
    border-radius: 50%;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo .img::after{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: -2px;
    border-radius: 50%;
    z-index: -1;
    background-image: linear-gradient(to left top, #ffcc00, #ffff99 ,#ffcc00 );
}
.img img{
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
}
.h2_layers{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.h2_layers h2{
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo #one{
    position: absolute;
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Lobster', cursive;
    /* font-family: 'Dancing Script', cursive; */
    background-image: linear-gradient(to top right,#996633,#ffff99,#ffcc66,#996633 );
    -webkit-background-clip: text;
    background-clip: text;
}
.logo #two{
    position: absolute;
    color: transparent;
    background-image: linear-gradient(to top left,#ffcc00 ,#ffff66,#ffcc00);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Lobster', cursive;
    /* font-family: 'Dancing Script', cursive; */
    -webkit-text-stroke: 2px transparent;
}
.drop{
    margin-right: 3%;
    display: inline-block;
    position: relative;
    transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.drop .botton{
    border: 3px solid #ffcc66;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-image: radial-gradient(#ffff99,#ffffcc,#ffd700);
    position: relative;
    top: 50px;
    transform: translate(0%,-50%);
   
    /* background-image: url(images/pngwing.com.png) , radial-gradient(#ffff99,#ffffcc,#ffd700);
    background-position: center center,center center;
    background-repeat: no-repeat,no-repeat;
    background-size: contain, auto; */
}
.drop .plus1{
    width: 100%;
    height: 100%;
    position: absolute;
}
.drop .plus1::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid goldenrod;
    width: 80%;
    height: 2px;
    background-color: transparent;
}
.drop .plus1::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid goldenrod;
    width: 2px;
    height: 80%;
}
.drop .plus1::before ,.drop .plus1::after{
    background-image: linear-gradient(to bottom, #ffcc99, #ffffcc);
}
.drop .plus2{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.drop .plus2::before{
    content: "";
    border: 1px solid ghostwhite;
    width: 80%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.drop .plus2::after{
    content: "";
    border: 1px solid gray ;
    width: 2px;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-property: background-image;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    background-image: none;

    /* background-color: aqua; */
  
}
.drop img{
    display: block;
    width: 80%;
    height: 80%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.plus2:hover:after , .plus2:hover::before{
    animation-name: anime-shape;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    display: block;
}
@keyframes anime-shape{
    0%{
        background-color: aliceblue;
        
    }
    10%{
        background-color: aliceblue;
        background-image: linear-gradient(to bottom,#996633 10%, transparent );
    

    }
    20%{
        background-image: linear-gradient(to bottom, #996633 20%, transparent);
    

    }
    30%{
        background-image: linear-gradient(to bottom , #996633 30%, transparent);
    

    }
    40%{
        background-image: linear-gradient(to bottom, #996633 40%, transparent);
    

    }
    50%{
        background-image: linear-gradient(to bottom, #996633 50%, transparent);
    

    }
    60%{
        background-image: linear-gradient(to bottom, #996633 60%, transparent);
    

    }
    70%{
        background-image: linear-gradient(to bottom, #996633 70%, transparent);
    

    }
    80%{
        background-image: linear-gradient(to bottom, #996633 80%, transparent);
    
    }
    90%{
        background-image: linear-gradient(to bottom, #996633 90%, transparent);
    

    }
    100%{
        background-image: linear-gradient(to bottom, #996633 100%, transparent);
    
    }
}
.plus2:hover{
    animation-name: spin-pox;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes spin-pox{
    0%{
        box-shadow: inset 0px 0px 5px 20px #993300 ,inset 0px 0px 5px 5px #ffcc66 ,inset 0px 0px 5px 5px #ffffcc#ffffcc;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)  rotate(-360deg);
    }
    10%{
        box-shadow: inset 0px 0px 5px 16px #993300 ,inset 0px 0px 5px 4px #ffcc66 ,inset 0px 0px 5px 4px #ffffcc#ffffcc;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) ,rotate(-288deg);
    }
    20%{
        box-shadow: inset 0px 0px 5px 12px #993300 ,inset 0px 0px 5px 3px #ffcc66 ,inset 0px 0px 5px 3px #ffffcc#ffffcc;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-216deg);
    }
    30%{
        box-shadow: inset 0px 0px 5px 8px #993300 ,inset 0px 0px 5px 2px #ffcc66 ,inset 0px 0px 5px 2px #ffffcc#ffffcc;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)  rotate(-144deg);
    }
    40%{
        box-shadow: inset 0px 0px 5px 4px #993300 ,inset 0px 0px 5px 1px #ffcc66 ,inset 0px 0px 5px 1px #ffffcc#ffffcc;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(-72deg);
    }
    50%{
        box-shadow: inset 0px 0px 5px 0px #993300 ,inset 0px 0px 5px 1px #ffcc66 ,inset 0px 0px 5px 1px #ffffcc#ffffcc;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(0deg);
    }
    60%{
        box-shadow:  0px 0px 5px 4px #ffffcc , 0px 0px 5px 1px #ffcc66 , 0px 0px 5px 1px #993333;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(72deg);
    }
    70%{
        box-shadow:  0px 0px 5px 8px #ffffcc,0px 0px 5px 2px #ffcc66 , 0px 0px 5px 2px #993333;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(144deg);
    }
    80%{
        box-shadow:  0px 0px 5px 12px #ffffcc , 0px 0px 5px 3px #ffcc66 , 0px 0px 5px 3px #993333;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(216deg) ;
    }
    90%{ 
        box-shadow:  0px 0px 5px 16px #ffffcc, 0px 0px 5px 4px #ffcc66 , 0px 0px 5px 4px #993333;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)  rotate(288deg);
    }
    100%{
        box-shadow:  0px 0px 5px 20px #ffffcc , 0px 0px 5px 5px #ffcc66 , 0px 0px 5px 5px #993333;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.drop-content{
    height: 0px;
    overflow: hidden;
    width: 100vw;
    list-style-type: none;
    position: absolute;
    top: 100px;
    left: -80vw;
    left: calc(-97vw + 55px);
    background-image:url(images/cup_of_coffee.png) , url(images/coffee-liquid2.png) ,radial-gradient(#ffffcc,#ff9933,#ffcc66,#ffcc00);
    background-position: center center, center top, center center;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size: cover, 100% 30%, 100% 100%;
    transition-property: height ,box-shadow;
    transition-duration: 1s,0.8s;
    transition-delay: 0.8s,1s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 1px 1px transparent , 0px 3px 5px transparent ,0px 1px 1px transparent;
}
.drop-content li a{
    display: block;
    padding: 25px 25px;
    color: transparent;
    background-image: linear-gradient(to right top,#ffcc00,#ffff66,#ffffcc,#ffff66,#ffcc00);
    -webkit-background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -1.5px;
    text-shadow: 1px 1px 2px #996633;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    transition-property: background-image, font-weight ,font-size ,letter-spacing;
    transition-duration: 0.3s,0.3s,0.4s,0.3s;
    transition-delay: 0s,0s,0.4s,0.6s;
}
.drop-content li a:hover{
    background-image: linear-gradient(to right bottom,#ffff99 ,#996633);
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1.5px;
    box-shadow: 0px 1px 1px #ffcc00 , 0px 3px 5px #996633 ,0px 1px 1px #ffcc00;
}
.drop:hover .drop-content{
    border: 3px solid goldenrod;
    height: 270px;
    box-shadow: 0px 1px 1px #ffcc00 , 0px 3px 5px #996633 ,0px 1px 1px #ffcc00;
}
main{
    grid-area: main;
    border: 5px solid transparent;
    margin: 5px;
    /* background:linear-gradient( #fff, #fff) padding-box,linear-gradient(to right top,#996633,#ff9900,#ffff99,#ff9900,#996633) border-box ; */
    /* background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: 100% 100%; */
   
}
.dimentions{
    width: calc(100% - 10px);
    height:  calc((100% - 1300px) / 2);
}
#slides{
    animation-name: animated-border;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    /* box-shadow: 0px -2px 0px 0px red , 2px 0px 0px 0px green, 0px 2px 0px 0px orange,-2px 0px 0px 0px lightcoral ; */
    /* box-shadow: 0px -3px 0px 0px green,2px 0px 0px 0px orangered,0px 2px 0px 0px orange,-2px 0px 0px 0px gold; */
}
@keyframes animated-border{
    0%{
        background-image: url(images/s1.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: 100% 100%;
        box-shadow: 0px -5px 5px 0px #ff9900,5px 0px 4px 0px #ffcc80 ,0px 5px 2px 0px #ffff80,-5px 0px 1px 0px #ffffcc;
    }
    25%{
        background-image: url(images/s2.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: 100% 100%;
        box-shadow: 0px -5px 1px 0px #ffffcc,5px 0px 5px 0px #ff9900 ,0px 5px 4px 0px #ffcc80,-5px 0px 2px 0px #ffff80;
    }
    50%{
        background-image: url(images/s3.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: 100% 100%;
        box-shadow: 0px -5px 2px 0px #ffff80,5px 0px 1px 0px #ffffcc ,0px 5px 5px 0px #ff9900,-5px 0px 4px 0px #ffcc80;
    }
    75%{
        background-image: url(images/s4.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: 100% 100%;
        box-shadow: 0px -5px 4px 0px #ffcc80,5px 0px 2px 0px #ffff80 ,0px 5px 1px 0px #ffffcc,-5px 0px 5px 0px #ff9900;
    }
    100%{
        background-image: url(images/s5.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: 100% 100%;
        box-shadow: 0px -5px 5px 0px #ff9900,5px 0px 4px 0px #ffcc80 ,0px 5px 2px 0px #ffff80,-5px 0px 1px 0px #ffffcc;
    }
}
main #menus{
    /* border: 2px solid gold; */
    width: calc(100% - 10px);
    height: 1300px;
}
.drinks{
    border: 1px solid red;
    width: 100%;
    height: calc(60% - 5px );
    margin-bottom: 5px;
    white-space: nowrap;
    /* position: relative; */
}
.logoside{
    border: 1px solid green;
    width: 35%;
    height: 100%;
    display: inline-block;
    background-image: url(images/pngwing.com\ \(11\).png) , linear-gradient(to bottom ,#ff6600,#ff8533,#ffff99 ,#ffffcc,#ff8533,#ff6600);
    background-position: center bottom, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, auto;
    box-shadow: inset 5px 5px 5px firebrick,inset -5px 0px 28px firebrick;
    position: relative;
}
.drinks .imgs{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(images/coffeebc3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 120% 30%;
    /* object-fit: contain; */
    position: absolute;
    top: 0%;
    left: 0%;
}
.position{
   /* transform: rotate(90deg) translate(-50%, -50%);  */
   /* transform: rotate(90deg);  */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: rotate(90deg) translate(0px, 215.5px);
   /* left: -206%; */
   /* left: -48vw; */
   color: #ffff99;
   text-align: center;
   text-transform: uppercase;
   font-style: italic;
   font-weight: 900;
   font-size: 60px;
  
}
.front{
    color: transparent;
    /* -webkit-text-stroke:2px #996633b3; */
    -webkit-text-stroke:2px darkgoldenrod;
    background-image: linear-gradient(to bottom,#cc9966,transparent, #ecd9c6);
    -webkit-background-clip: text;
}
.product{
    border: 1px solid green;
    width: 65%;
    height: 100%;
    display: inline-block;
}
.product .heed-menus{
    border: 1px solid rebeccapurple;
    width: 100% ;
    height: 40px;
    position: relative;
    background-image: radial-gradient(#fff2e6,#ffb366);
    box-shadow: inset 8px 8px 5px 3px lightgoldenrodyellow, 4px 6px 5px darkgoldenrod;
}
.heed-menus h2{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50% ,0%);
    
}
.bottom{
    color: transparent;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
    background-image: linear-gradient(to right top , #ffcc00,#fff0b3,#ffff66,#ffcc00);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #ff7214b4;
    /* -webkit-text-stroke: 2px transparent; */
}
.top{
    color: gold;

    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    font-size: 33px;
    font-family: 'Dancing Script', cursive;
}
.container{
    border: 1px solid goldenrod;
    width: 100%;
    height: calc((100% - 40px) / 7);
    filter: blur(1px);
    position: relative;
}
.container5{
    display: none;
}
.img-p{
    border: 1px solid gold;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #ffcc66;
    background-image: url(images/hotteas.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: contain;
    box-shadow: inset 5px 5px 5px firebrick,inset -5px -5px 5px firebrick;
    position: absolute;
    top: 0%;
    left: 50%;
    margin: -25px;
}
.text{
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.text h2 {
    color: aliceblue;
    text-transform: uppercase;
    font-style: italic;
    font-variant: unset;
    font-weight: 500;
    font-size: 25px;
    position: relative;
}
.h-c{
    background-image: url(images/hotcoffees.png), radial-gradient(#ffff99,#ff9900,#ff9933);
    background-position: center center,center center;
    background-repeat: no-repeat,no-repeat;
    background-size: contain,auto;
}
.text .hot-coffees::before {
    content: "hot coffees";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 26px;
    background-image:linear-gradient(to bottom, transparent,#996633), linear-gradient(45deg, #996633,#ffff66,#ffcc00, #996633);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
}
.h-t{
    background-image: url(images/hotteas.png), radial-gradient(#ffff99,#ff9900,#ff9933);
    background-position: center center,center center;
    background-repeat: no-repeat,no-repeat;
    background-size: contain,auto;
}
.text .hot-teas::before {
    content: "hot teas";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 26px;
    background-image:linear-gradient(to bottom, transparent,#996633), linear-gradient(45deg, #996633,#ffff66,#ffcc00, #996633);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
}
.h-d{
    background-image: url(images/hotdrinks.png), radial-gradient(#ffff99,#ff9900,#ff9933);
    background-position: center center,center center;
    background-repeat: no-repeat,no-repeat;
    background-size: contain,auto;
}
.text .hot-drinks::before {
    content: "hot drinks";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 26px;
    background-image:linear-gradient(to bottom, transparent,#996633), linear-gradient(45deg, #996633,#ffff66,#ffcc00, #996633);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
}
.fra{
    background-image: url(images/farrabino.png), radial-gradient(#ffff99,#ff9900,#ff9933);
    background-position: center center,center center;
    background-repeat: no-repeat,no-repeat;
    background-size: contain,auto;
}
.text .Frappuccino::before {
    content: "Frappuccino";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 26px;
    background-image:linear-gradient(to bottom, transparent,#996633), linear-gradient(45deg, #996633,#ffff66,#ffcc00, #996633);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
}
.c-coff{
    background-image: url(images/coldcoffe.png), radial-gradient(#ffff99,#ff9900,#ff9933);
    background-position: center center,center center;
    background-repeat: no-repeat,no-repeat;
    background-size: contain,auto;
}
.text .cold-coffees::before {
    content: "cold coffees";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 26px;
    background-image:linear-gradient(to bottom, transparent,#996633), linear-gradient(45deg, #996633,#ffff66,#ffcc00, #996633);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
}
.i-t{
    background-image: url(images/icedtea.png), radial-gradient(#ffff99,#ff9900,#ff9933);
    background-position: center center,center center;
    background-repeat: no-repeat,no-repeat;
    background-size: contain,auto;
}
.text .iced-teas::before {
    content: "iced teas";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 26px;
    background-image:linear-gradient(to bottom, transparent,#996633), linear-gradient(45deg, #996633,#ffff66,#ffcc00, #996633);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
}
.c-d{
    background-image: url(images/colddrinks.png), radial-gradient(#ffff99,#ff9900,#ff9933);
    background-position: center center,center center;
    background-repeat: no-repeat,no-repeat;
    background-size: contain,auto;
}
.text .cold-drinks::before {
    content: "cold-drinks";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 26px;
    background-image:linear-gradient(to bottom, transparent,#996633), linear-gradient(45deg, #996633,#ffff66,#ffcc00, #996633);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
}
.foods{
    border:1px solid #993333;
    width: 100%;
    height: 40%;
    /* background-image: url(images/food-pattern.png) , radial-gradient(#ffffcc,#ffcc66, #ffcc99, #ff9933); */
    background-image: url(images/food-pattern.png) , radial-gradient(#ffff99,#ff9900, #ff9933);
    background-repeat: no-repeat ,no-repeat;
    background-attachment:scroll,scroll;
    background-position: center center,center center;
    background-size:100% 100%,100% 100%;
    position: relative;
}
.foodlayer{
   border: 1px solid rosybrown;
    width: 125px;
    height: 52px;
    box-shadow: inset 8px 8px 5px 3px lightgoldenrodyellow,4px 4px 5px darkgoldenrod;
    background-image: radial-gradient(#fff2e6,#ffb366);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

}
.foodlayer h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.foodlayer :nth-child(1){
    color: transparent;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    background-image: linear-gradient(to right top,#ffcc00,#fff0b3,#ffff66,#ffcc00);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px #ff7214b4;
}
.foodlayer :nth-child(2){
    color: gold;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    font-size: 33px;
}
.product2{
    border: 3px solid transparent;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom, #ffcc66,#ffcc66) , linear-gradient(45deg, #ffff66,#996633);
    background-clip: padding-box,border-box;
    position: absolute;
}
.product2 img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.product2 h3{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}
h3 span{
    display: block;
    /* border: 1px solid red; */
    width: fit-content;
    height: 90px;
    line-height: calc(76px * 2);
    position: absolute;
    transform-origin: 50% 0%;
    color: transparent;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
    font-size: 23px;
    background-image: linear-gradient(to bottom , #ffcc00,#fff0b3);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px  chocolate;
}
h3 :nth-child(1){
    /* height: 78px; */
    /* line-height: calc(78px * 2); */
    transform: rotate(37deg);
}
h3 :nth-child(2){
    /* height: 78px; */
    /* line-height: calc(78px * 2); */
    transform: rotate(22deg);
}
h3 :nth-child(3){
    /* height: 78px; */
    /* line-height: calc(78px * 2); */
    transform: rotate(7deg);
}
h3 :nth-child(4){
    /* height: 78px; */
    line-height: calc(73px * 2);
    transform: rotate(-11deg);
}
h3 :nth-child(5){
    /* height: 78px; */
    line-height: calc(64px * 2);
    transform: rotate(-31deg);
}
h3 :nth-child(6){
    /* height: 78px; */
    line-height: calc(46px * 2);
    transform: rotate(-47deg);
}
.bakery{
    top: 5%;
    left: 5%;
}
.breakfast{
    top: 5%;
    right:5%;
}
.snacks{
    bottom: 5%;
    right: 5%;
}
.lunch{
    bottom: 5%;
    left: 5%;
}
.breakfast h3 :nth-child(1){
    /* height: 78px; */
    line-height: calc(82px * 2);
    transform: rotate(31deg);
    font-size: 14px;
}
.breakfast h3 :nth-child(2){
    /* height: 78px; */
    line-height: calc(84px * 2);
    transform: rotate(23deg);
    font-size: 14px;
}
.breakfast h3 :nth-child(3){
    /* height: 78px; */
    line-height: calc(86px * 2);
    transform: rotate(15deg);
    font-size: 14px;
}
.breakfast h3 :nth-child(4){
    /* height: 78px; */
    line-height: calc(86px * 2);
    transform: rotate(8deg);
}
.breakfast h3 :nth-child(5){
    /* height: 78px; */
    line-height: calc(85px * 2);
    transform: rotate(-3deg);
}
.breakfast h3 :nth-child(6){
    /* height: 78px; */
    line-height: calc(80px * 2);
    transform: rotate(-15deg);
}
.breakfast h3 :nth-child(7){
    /* height: 78px; */
    line-height: calc(69px * 2);
    transform: rotate(-28deg);
}
.breakfast h3 :nth-child(8){
    /* height: 78px; */
    line-height: calc(55px * 2);
    transform: rotate(-41deg);
}
.breakfast h3 :nth-child(9){
    /* height: 78px; */
    line-height: calc(44px * 2);
    transform: rotate(-47deg);
    font-size: 14px;
}
.breakfast h3 :nth-child(10){
    /* height: 78px; */
    line-height: calc(32px * 2);
    transform: rotate(-52deg);
    font-size: 14px;
}
.breakfast h3 :nth-child(11){
    /* height: 78px; */
    line-height: calc(20px * 2);
    transform: rotate(-58deg);
    font-size: 14px;
}
.breakfast h3 :nth-child(12){
    /* height: 78px; */
    line-height: calc(7px * 2);
    transform: rotate(-47deg);
    font-size: 14px;
}
.logo2{
    border: 3px solid transparent;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: radial-gradient(circle,#ffff99 ,#ff9966),linear-gradient(to left top, #ffcc00, #ffff99 ,#ffcc00 );
    background-clip: padding-box,border-box;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
.logo2 .img3 {
    border: 3px solid transparent;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    background-image: url(images/mokalogo.jpg) ,linear-gradient(to left top, #ffcc00, #ffff99 ,#ffcc00 );
    background-position: center center , center center;
    background-repeat: no-repeat,no-repeat;
    background-size: 100% 100% ,100% 100%;
    background-clip: padding-box, border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo2 .layer{
    width: 200px;
    height: 200px;
    position: relative;

}
.layer h2.o1{
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Lobster', cursive;
    background-image: linear-gradient(to top left,#ffcc00 ,#ffff66,#ffcc00);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px transparent;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.layer h2.t2{
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    background-image: linear-gradient(to top right,#996633,#ffff99,#ffcc66,#996633 );
    -webkit-background-clip: text;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.margin{
    margin: 5px;
}
main #branches{
    border: 2px solid gold;
    background-image: linear-gradient( to bottom, #ff9900, #ffcc80,#996633, transparent),linear-gradient(to top,#ffffcc ,transparent);
}
/* .layer2{
    width: 200px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50% , 10%);
}
#branches .layer2 h2.contact1{
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    background-image: linear-gradient(to top left,#ffcc00 ,#ffff66,#ffcc00);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    position: absolute;
}
#branches .layer2 h2.contact2{
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    background-image: url(images/pngwing.com\ \(11\).png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    -webkit-background-clip: text;
    position: absolute;
} */
.layerp2{
    width: 100%;
    height: 80px;
    position: relative;
}
.layerp2 h2:nth-child(1){
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 600;
    font-size: 80px;
    font-family: 'Lobster', cursive;
    background-image: linear-gradient(45deg,#ffcc00,#ffff99,#ffcc00);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%,0%);
}
.layerp2 h2:nth-child(2){
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 400;
    font-size: 80px;
    font-family: 'Lobster', cursive;
    background-image: linear-gradient(45deg,#996633,#f2e6d9);
    -webkit-background-clip: text;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);

}
.info{
    display: inline-block;
    border: 1px solid orchid;
    width: 50%;
    height: calc(100% - 80px);
    background-image: linear-gradient(45deg,#ffd858,#996633);
    /* filter: blur(1px); */
    backdrop-filter: blur(3px);
    vertical-align: top;
    margin: 0% 1%;
}
.info .branches{
    border: 1px solid ;
    width: 100%;
    height: 50%;
    position: relative;
    /* position: absolute;
    top: 0%;
    left: 0%; */
}
.bhead{
    width: 100%;
    height: 40px ;
    position: relative;
}
.branches .bhead h2:nth-child(1){
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    background-image: linear-gradient(45deg,#ffcc00,#ffff99,#ffcc00);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0%);    
}
.branches .bhead h2:nth-child(2){
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    background-image: linear-gradient(45deg,#996633,#f2e6d9);
    -webkit-background-clip: text;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
.branches .address{
    width: 100%;
    height: 50%;
}
.address p{
    color: transparent;
    text-transform: capitalize;
    white-space: nowrap;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    background-image: linear-gradient(45deg,#ffffcc,#f2e6d9);
    -webkit-background-clip: text;
    margin: 20px;
}
.contact{
    border: 2px solid rebeccapurple;
    width: 100%;
    height: 50%;
    position: relative;
}
.contact .layer3{
    position: relative;
    width: 100% ;
    height: 40px;
    padding: 5px;
}
.contact .layer3 h2.bottom2{
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    background-image: linear-gradient(45deg,#ffff99,#ffcc00);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent ;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
}
.contact .layer3 h2.top2{
    color: transparent;
    text-transform: uppercase;
    white-space: nowrap;
    font-style: italic;
    font-weight: 400;
    font-size: 40px ;
    font-family: 'Lobster', cursive;
    background-image: linear-gradient(45deg,#996633,#ff6600);
    -webkit-background-clip: text;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
}
.contact .whatsapp{
    width: fit-content;
    height: max-content;
}
.contact .whatsapp span.whatslogo{
    display: inline-block;
    border: 3px solid transparent;
    border-image-source: linear-gradient(#ffff99,#ffcc00);
    border-image-slice: 10%;
    width: 40px;
    height: 40px;
    background-image: url(images/whatsapp-logo.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: contain;
}
.contact .whatsapp span.nuper{
    color: #ffff80;
    font-weight: 700;
    font-size: 26px;
    -webkit-text-stroke: 1px brown;
}
iframe{
    border: 5px solid transparent !important;
    border-image-source: linear-gradient(45deg,#996633,#ffff99) !important;
    border-image-slice: 10% !important;
    margin: 0% 1%;
}
#iframe{
    width: 45%;
    height: 84%;
}

footer{
    grid-area: footer;
    margin-top: 12px;
    background-image:url(images/cup-of-coffee2.png), url(images/pngwing.com\ \(11\).png),radial-gradient(#ffff99,#ffcc00,#ff6600);
    background-position: center center, center bottom , center center;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size: contain,100% 77%,auto;
    position: relative;
}
.copyright {
    color: bisque;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 17px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}